/* Body and General Settings */
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url('triangles-1430105_1280.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Title and Game Screens */
#titleScreen, #gameScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#titleScreen {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
}

/* High Scores */
#highScores {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

#scoresList {
    list-style: none;
    padding: 0;
}

#scoresList li {
    margin: 5px 0;
}

/* Buttons */
#startButton {
    width: 100px;
    height: 100px;
    background: url('play-button-7426443_640.png') no-repeat center center;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#startButton:hover {
    filter: brightness(1.2);
}

#backToTitleButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #444;
    color: white;
    border: none;
    cursor: pointer;
    display: none;
}

#backToTitleButton:hover {
    background-color: #666;
}

/* Canvas */
canvas {
    display: block;
    margin-top: 10px;
    border: none;
}